{% extends "base.html" %}
{% block title %}Feed{% endblock %}

{% block content %}
<h1>Feed</h1>

<!-- Display All Posts -->

<div class="posts">
    {% for post in posts %}
    <div class="post-container">
        <!-- User Information -->
        <div class="user-info">
            <a href="{% url 'dashboard' post.user.id %}" class="user-link"> <!-- Link to user's dashboard -->
                <img src="{{ post.user.profile.photo.url }}" alt="{{ post.user.username }}"
                     class="user-image small-user-image">
            </a>
            <p class="username">
                <a href="{% url 'dashboard' post.user.id %}" class="user-link default-color">{{ post.user.username}}</a>
                <!-- Link to user's dashboard -->
            </p>

        </div>
        <p class="created-date">{{ post.created|date:"F d, Y" }}</p>
        <div class="post">
            <p style="font-family: cursive; margin-top: 11px">{{ post.body }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
            {% endif %}
        </div>

        <!-- Post Footer -->
        <div class="post-footer">
            <!-- Like Button -->
            <a href="{% url 'post:post_like' post.id %}"
               class="like button"
               style="border-radius: 5px; color: {% if request.user in post.likes.all %}cyan{% else %}green{% endif %}">
                {% if request.user not in post.likes.all %}
                <i class="fas fa-thumbs-up"></i> Like
                {% else %}
                <i class="fas fa-thumbs-up"></i> Liked
                {% endif %}
            </a>
            <span class="count">
                    {{ post.number_of_likes }} likes
                </span>
        </div>
    </div>
    {% empty %}
    <p>No posts available. <a href="{% url 'post:search_for_friends' %}">Add more friends</a></p>
    {% endfor %}
</div>

{% endblock %}
